{% extends 'base.html' %}

{% block header %}
    {% if page.extra.katex is defined %}
        {% if page.extra.katex %}
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/katex@0.18.4/dist/katex.min.css"
            integrity="sha384-u1zONI5gPXUx0UKI62c75/zww972y0v2rSK5ZYlVdS6xEuWDeZWUI66v6t1gvlXJ"
            crossorigin="anonymous">
        <!-- The loading of KaTeX is deferred to speed up page rendering -->
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/katex@0.18.4/dist/katex.min.js"
            integrity="sha384-ykMNcWQhhTUb0YV9SPpPUFURHZ+tWmubkakGBP+OgNK/UXdO2gtzglWx0Rj9hnO3"
            crossorigin="anonymous"></script>
        <!-- To automatically render math in text elements, include the auto-render extension: -->
        <script
            defer
            src="https://cdn.jsdelivr.net/npm/katex@0.18.4/dist/contrib/auto-render.min.js"
            integrity="sha384-bjyGPfbij8/NDKJhSGZNP/khQVgtHUE5exjm4Ydllo42FwIgYsdLO2lXGmRBf5Mz"
            crossorigin="anonymous"
            onload="renderMathInElement(document.body);"></script>
        {% endif %}
    {% endif %}
{% endblock header %}

{% block content %}
<div class="content">
    <h1>{{ page.title }}</h1>
    <p>
        {% if page.taxonomies is defined %}
            {% for key,values in page.taxonomies %}
                {% for value in values %}
                    {% set link = ("/" ~ key ~ "/" ~ value ~ "/") %}
                    {{ <taxonomy_entry name={value} permalink={link} /> }}
                {% endfor %}
            {% endfor %}
        {% endif %}
    </p>
    {{ page.content | safe }}
</div>
{{ <toc rootconfig={page} /> }}
{% endblock content %}
